.wrp{
  width: 85vw;
  margin: 0 auto;
}
body{
  font-family: sans-serif;
}
.note-wrp{
  display: flex;
  flex-flow: wrap;
}
.note{
  margin: 50px 20px;
  border: 1px solid #edee;
  padding: 20px 35px;
  text-align: justify;
  background-color: white;
  flex-basis: 33%;
  position: relative;
}

textarea{
  display: block;
}
.input-note{
  border-bottom: 2px solid #eee;
}
.note__btn{
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.border-bold{
  border: 2px solid red;
}

.top{
  border: 2px solid #eee;
}
